<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DigiMUM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>jsp/login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.Controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>com.Controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordController</display-name>
    <servlet-name>ForgotPasswordController</servlet-name>
    <servlet-class>com.Controller.ForgotPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordController</servlet-name>
    <url-pattern>/ForgotPasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountStatementController</display-name>
    <servlet-name>AccountStatementController</servlet-name>
    <servlet-class>com.Controller.AccountStatementController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountStatementController</servlet-name>
    <url-pattern>/AccountStatementController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordController</display-name>
    <servlet-name>ChangePasswordController</servlet-name>
    <servlet-class>com.Controller.ChangePasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordController</servlet-name>
    <url-pattern>/ChangePasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUpdateController</display-name>
    <servlet-name>ViewUpdateController</servlet-name>
    <servlet-class>com.Controller.ViewUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUpdateController</servlet-name>
    <url-pattern>/ViewUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FundTransferController</display-name>
    <servlet-name>FundTransferController</servlet-name>
    <servlet-class>com.Controller.FundTransferController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FundTransferController</servlet-name>
    <url-pattern>/FundTransferController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthenticationController</display-name>
    <servlet-name>AuthenticationController</servlet-name>
    <servlet-class>com.Controller.AuthenticationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationController</servlet-name>
    <url-pattern>/AuthenticationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.Controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetStockController</display-name>
    <servlet-name>GetStockController</servlet-name>
    <servlet-class>com.Controller.GetStockController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStockController</servlet-name>
    <url-pattern>/GetStockController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CashBalanceController</display-name>
    <servlet-name>CashBalanceController</servlet-name>
    <servlet-class>com.Controller.CashBalanceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CashBalanceController</servlet-name>
    <url-pattern>/CashBalanceController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAlertController</display-name>
    <servlet-name>ViewAlertController</servlet-name>
    <servlet-class>com.Controller.ViewAlertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAlertController</servlet-name>
    <url-pattern>/ViewAlertController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetAlertService</display-name>
    <servlet-name>SetAlertService</servlet-name>
    <servlet-class>com.Controller.SetAlertService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetAlertService</servlet-name>
    <url-pattern>/SetAlertService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetAlertController</display-name>
    <servlet-name>SetAlertController</servlet-name>
    <servlet-class>com.Controller.SetAlertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetAlertController</servlet-name>
    <url-pattern>/SetAlertController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetAlert</display-name>
    <servlet-name>SetAlert</servlet-name>
    <servlet-class>com.Controller.SetAlert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetAlert</servlet-name>
    <url-pattern>/SetAlert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewWatchListController</display-name>
    <servlet-name>ViewWatchListController</servlet-name>
    <servlet-class>com.Controller.ViewWatchListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewWatchListController</servlet-name>
    <url-pattern>/ViewWatchListController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UpdateStockController</display-name>
    <servlet-name>UpdateStockController</servlet-name>
    <servlet-class>com.Controller.UpdateStockController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStockController</servlet-name>
    <url-pattern>/UpdateStockController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToWatchlistController</display-name>
    <servlet-name>AddToWatchlistController</servlet-name>
    <servlet-class>com.Controller.AddToWatchlistController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToWatchlistController</servlet-name>
    <url-pattern>/AddToWatchlistController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMarketController</display-name>
    <servlet-name>ViewMarketController</servlet-name>
    <servlet-class>com.Controller.ViewMarketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMarketController</servlet-name>
    <url-pattern>/ViewMarketController</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>